/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap');
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif !important;
     font-weight: 300;
 }

 html {
    background: #ecf0f1;
    background-image: url(https://i.imgur.com/s8Ge25N.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
 html, body {
    max-width: 100vw;
    
 } 
nav {
    width: 90vw;
    left: -90vw;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e74c3c;
    transition: 750ms;
    position: fixed;
    z-index: 99;
}
nav > * {
    padding: 20px;
    width: 100%;
    text-align: center;
    transition: 350ms;
    font-size: 1.5rem;
}
nav * {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}
nav > *:hover,nav > *:active,nav > *:focus {
    background-color: rgba(73, 158, 255, 0.473);
}
hr {
    padding: 0;
    border-color: #434b54;
    width: 100%;
}
nav a {
    color: white;
    text-decoration: none;
    transition: 350ms;
}
nav a:hover {
    color: rgb(224, 219, 253);
}
main {
    min-height: 100vh;
    width: 100%;
    transition: 750ms;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#nav  p  a{
    color: rgb(93, 123, 255);
}
.logout{
    color: #111111 !important;
}
.user-tab {
    color: whitesmoke;
}
#menu-btn {
    position: absolute;
    right: -52px;
    top: 2px;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-shadow: 0 0 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: whitesmoke;
    transition: 750ms;
}
.no-overflow, .no-overflow * {
    overflow: hidden !important;
    height: 100% !important;
    background: none !important;
}
#menu-btn:active {
    background-color: rgb(93, 123, 255);
}
#new {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.add, #new-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#new-btn{
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #9b59b6;
    border: none;
    box-shadow: 0px 0px 10px black;
    outline: none;
    transform: rotate(0deg);
    transition: 350ms;
    cursor: pointer;
    z-index: 50;
}
#new-svg {
    fill: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#new-btn:hover, .add:hover{
    background-color: #b64be0;
}
#new-btn:hover, #new-btn:focus, .add:focus ~ #new-btn{
    transform: rotate(45deg);
}
.add {
    opacity: 0;
    transition: 350ms;
    text-align: center;
    text-decoration: none;
    color: white;
    width: max-content;
    background-color: #9b59b6;
    padding: 10px 25px;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}
#new-btn:focus ~ .add, .add:focus {
    opacity: 1;
}
#new-btn:focus ~ #add-group, #add-group:focus, #add-recipe:focus ~ #add-group {
    bottom: 115px;
}
#new-btn:focus ~ #add-recipe, #add-recipe:focus, #add-group:focus ~ #add-recipe{
    bottom: 177px;
}
.tip {
    color: #3498db;
    text-align: center;
    padding: 5px;
    width: 70%;
    margin: 25px 0;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    text-shadow: -2px 2px #000000;
}

.form-div {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 100vh !important;
}
form {
    border: 5px solid #9980FA;
    border-radius: 15px;
    background-color: #5758BB;
    padding: 10vh 6vw;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    position: relative;

}
label {
    color: whitesmoke;
    padding: 10px;
}
input, textarea,select {
    width: 50vw;
    max-width: 250px;
    border-radius: 5px;
    outline: none;
    transition: 350ms;
}
input, select {
    height: 25px;
    margin-bottom: 20px;
}
textarea {
    min-height: 70px;
}
input[type="submit"] {
    color: whitesmoke;
    background-color: #9980FA;
    border: 1px solid white;
    width: 100px;
}
input[type="submit"]:hover {
    color: #9980FA;
    background-color:whitesmoke ;
    border: 1px solid #9980FA;
}
#error_explanation {
    color: white;
    width: 55vw;

}
#error_explanation h2 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}
#error_explanation * {
    font-size: 15px;
}
#login {
    margin: 20px;
    font-size: medium;
    color: white;
}
.session-link {
    color: white;
    position: absolute;
    text-transform: capitalize;
    font-weight: 500;
    right: 13px;
    top: 13px;
    padding: 1px;
}
.flash-container{
    position: fixed;
    right: 15px;
    top: 15px;
    min-width: 75px;
    min-height: 50px;
    border: 5px solid red;
    background: royalblue;
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 15px;
}
.flash-container, .flash-container * {
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}