// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#users-container{
    .users {
        display: flex;
        border: 2px solid black;
        margin: 20px 0;
        width: 70vw;
        height: 75px;
        position: relative;
        * {
            position: absolute;
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p {
            left: 0;
            background-color: #9b59b6;
            color: white;
            width: 50%;
            border-bottom-right-radius: 35px;

        }
        a {
            right: 0;
            background-color: #e74c3c;
            color: white;
            font-family: 'Noto Sans', sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            width: 55%;
            transition: 350ms;
            box-shadow: 0 0 0 #e74c3c;
            &:hover {
                box-shadow: 0 0 15px #e74c3c;
            }
        }
    }
}